/* CSS for cart items */
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.cart-item .description {
  flex: 1;
}

.cart-item .description p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cart-item .description span {
  display: block;
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.cart-item .description strong {
  font-size: 18px;
  font-weight: bold;
}

.cart-item .quantity {
  flex: 1;
}

.cart-item .quantity select {
 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.cart-item .close {
  display: flex;
  align-items: center;
}

.cart-item .close button {
 
  border: none;
  padding: 5px 10px;
  border-radius: 10%;
  cursor: pointer;
  font-size: 14px;
}

.cart-item .close button:hover {
  background-color: #ff4f4f;
}
